html {
  font-family: 'Roboto Mono', sans-serif;
}
a:visited { 
  text-decoration: none; 
  color: black; 
 }

 body {
   background-color: white;
 }

.everything {

  max-width: 1582px;
  height:100%;
  text-align: center;
  background-image: url("bg.jpg");
  margin: 0 auto;
}

